# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# Firebase & Google OAuth Keys for Render Server / Production Deployment
VITE_FIREBASE_API_KEY="AIzaSyCsxCGds6xfjugeChTYk3vQLSMsIcV28KM"
VITE_FIREBASE_PROJECT_ID="gen-lang-client-0648418690"
VITE_FIREBASE_AUTH_DOMAIN="gen-lang-client-0648418690.firebaseapp.com"
VITE_FIREBASE_DATABASE_ID="ai-studio-communevoterregi-d8da2e15-db24-470c-8af3-702f703dc25d"
VITE_FIREBASE_STORAGE_BUCKET="gen-lang-client-0648418690.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1066572318214"
VITE_FIREBASE_APP_ID="1:1066572318214:web:c3fe22e505a7c76b27e587"
VITE_GOOGLE_OAUTH_CLIENT_ID="1066572318214-4ic3aip7p1ivahfpdlgp6b8j53030b5f.apps.googleusercontent.com"
